<div class="banner">
  <div class="container">
      <h1>Pokebnb brings <strong>Pokemons</strong> to <strong>your home</strong>!</h1>
      <p>Change your life, rent a Pokemon.</p>
      <div class="row search-row">
        <div class="col-10">
       <%= form_tag pokemons_path, method: :get do %>
       <%= text_field_tag :query,
        params[:query],
        class: "form-control searchbar",
        placeholder: "Find your Pokemon by name, abilities ..."
       %>
      </div>
      <div class="col-2">
      <%= submit_tag "Search", class: "login-btn" %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5"><h2>Most recommanded</h2></div>
  <div class="row featured-cards mt-5">
    <% @pokemons.each do |pokemon| %>
        <div class="col">
            <div class="clash-card barbarian">
              <div class="clash-card__image clash-card__image--barbarian">
                <% if pokemon.photo.attached? %>
                <%= cl_image_tag pokemon.photo.key, height: 252, width: 252, crop: :fill %>
                <% else %>
                <img src="https://cdn.glitch.com/c13537fc-8924-4dee-b876-b562eed68eae%2Fpikachu-removebg-preview.png?v=1605611430597" height="252px" width="247px" alt="pikachu" />
                <% end %>
                </div>
                <div class="clash-card__unit-name"><%= link_to pokemon.name, pokemon_path(pokemon)%></div>
                <div class="clash-card__level clash-card__level--barbarian">Level <%= pokemon.level %></div>
                <div class="clash-card__unit-description"> <%= pokemon.description %> </div>
                <div class="clash-card__unit-stats clash-card__unit-stats--barbarian">
                  <div class="one-third">
                    <div class="stat"><%= pokemon.abilities %></div>
                  </div>
                  <div class="one-third no-border">
                    <div class="stat"><%= pokemon.price %>€/d</div>
                  </div>
                </div>
            </div>
        </div>
     <% end %>
  </div>
</div>
