<div class="login-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-n5">
         <%= link_to "Go Back to Pokemons' list", pokemons_path, class: "login-btn mt-5" %>
        <div class="clash-card barbarian mt-5">
          <div class="clash-card__image clash-card__image--barbarian">
            <% if @pokemon.photo.attached? %>
            <%= cl_image_tag @pokemon.photo.key, height: 252, width: 252, crop: :fill %>
            <% else %>
            <img src="https://cdn.glitch.com/c13537fc-8924-4dee-b876-b562eed68eae%2Fpikachu-removebg-preview.png?v=1605611430597" height="252px" width="247px" alt="pikachu" />
            <% end %>
            </div>
            <div class="clash-card__unit-name"><%= @pokemon.name %></div>
            <div class="clash-card__level clash-card__level--barbarian">Level <%= @pokemon.level %></div>
            <div class="clash-card__unit-description">
              This Pikachu has a great ha warrior with an angry, battle-ready expression, hungry for giving you electricity for the all family house.
            </div>
            <div class="clash-card__unit-stats clash-card__unit-stats--barbarian">
              <div class="one-third">
                <div class="stat"><%= @pokemon.abilities %></div>
              </div>
              <div class="one-third no-border">
                <div class="stat"><%= @pokemon.price %>€/d</div>
              </div>
            </div>
        </div>
      <%# if @pokemon.photo.attached? %> <%# background_url = cl_image_path @pokemon.photo.key, width: 300, height: 400, crop: :fill %>
      <%# else %> <%# background_url = 'https://source.unsplash.com/300x400/?pokemon' %>
      <%# end %>
      <% if policy(@pokemon).destroy? %>
        <p> <%= link_to 'Delete', @pokemon, method: :delete, data: {confirm: "Do you REALY want to delete this Pokemon?"} %></p>
      <% end %>
    </div>
    <div class="col-6 bg-light rounded d-flex justify-content-center align-items-center">
      <%= simple_form_for [@pokemon, @pokemon.bookings.new] do |f| %>
        <%= f.input :start_date, as: :date, class: "wd-100"%>
        <%= f.input :end_date, as: :date %>
        <%= f.submit 'Catch Pokemon', class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
</div>
