<div class="banner-show">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-n5">
         <%= link_to "Go Back to Pokemons' list", pokemons_path, class: "login-btn mt-5" %>
         <br>
         <% if policy(@pokemon).edit? %>
          <%= link_to "Edit Me!", edit_pokemon_path(@pokemon), class: "delete-btn" %>
         <% end %>
         <% if policy(@pokemon).destroy? %>
          <p> <%= link_to 'Delete me! ... wait ... WHAAAAT ?', @pokemon, method: :delete, data: {confirm: "Do you REALY want to delete this Pokemon?"}, class: 'delete-btn'%></p>
        <% end %>
        <div class="clash-card barbarian mt-5">
          <div class="clash-card__image clash-card__image--barbarian">
            <% if @pokemon.photo.attached? %>
            <%= cl_image_tag @pokemon.photo.key, height: 252, width: 252, crop: :fill %>
            <% else %>
            <img src="https://cdn.glitch.com/c13537fc-8924-4dee-b876-b562eed68eae%2Fpikachu-removebg-preview.png?v=1605611430597" height="252px" width="247px" alt="pikachu" />
            <% end %>
            </div>
            <div class="clash-card__unit-name"><%= @pokemon.name %></div>
            <div class="clash-card__level clash-card__level--barbarian">Level <%= @pokemon.level %></div>
            <div class="clash-card__unit-description">
              <%= @pokemon.description %>
            </div>
            <div class="clash-card__unit-stats clash-card__unit-stats--barbarian">
              <div class="one-third">
                <div class="stat"><%= @pokemon.abilities %></div>
              </div>
              <div class="one-third no-border">
                <div id="price" class="stat"><%= @pokemon.price %>€/d</div>
              </div>
            </div>
        </div>
    </div>

    <!-- Flatpickr -->
    <div class="col-6 rounded justify-content-center align-items-center">
      <h2>Catch this <%= @pokemon.name %></h2>
      <div class="align-items-start d-flex">
        <%= simple_form_for [@pokemon, @pokemon.bookings.new] do |f| %>
          <%= f.input  :start_date, label: "Pick your dates:", as: :string, required: false, input_html: {id: "range_start", class: "d-none"} %>
          <%= f.input  :end_date, as: :string, label: false, required: false, input_html: {id: "range_end", class: "d-none" } %>
            <div id="booking-form-div" data-bookings="<%= @bookings_dates.to_json %>">
            <div class="row d-flex justify-content-around">
              <p class="text-color">Catch it for <span id="total-nights">0</span> days</p>
              <p class="text-color">Total price: <span id="total-price">0</span> € </p>
            </div>
            <div class="row d-flex justify-content-around">
              <%= f.button :submit, "Catch it", class: "btn btn-primary" %>
              <%= link_to pokemon_path(@pokemon) do %><button type="button" class="icon-close btn btn-secondary" aria-label="Close">Cancel<span aria-hidden="true"> &times;</span></button>
            </div>
        <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
    <% @pokemon.reviews.each do |review| %>
      <p class="text-color"> Comment: <%= review.comment %> </p>
      <p class="text-color"> Rating: <%= review.rating %> </p>
      <p> <%= link_to 'Delete', review_path(review), method: :delete, data: {confirm: "Do you REALY want to delete this review?"}, class: 'delete-btn'%> </p>
    <% end %>
  </div>
</div>
