
<div class="container">
  <div class="row">
    <div class="col-6">
      <h1><%= @pokemon.name %></h1>
      <p>abilities: <%= @pokemon.abilities %></p>
      <p>level: <%= @pokemon.level %></p>
      <p>price: <%= @pokemon.price %></p>

      <%# if @pokemon.photo.attached? %> <%# background_url = cl_image_path @pokemon.photo.key, width: 300, height: 400, crop: :fill %>
      <%# else %> <%# background_url = 'https://source.unsplash.com/300x400/?pokemon' %>
      <%# end %>
      <% if policy(@pokemon).destroy? %>
        <p> <%= link_to 'Delete', @pokemon, method: :delete, data: {confirm: "Do you REALY want to delete this Pokemon?"} %></p>
      <% end %>
      <p><%= link_to "Go Back to Pokemons' list", pokemons_path %></p>
    </div>
  </div>
</div>

<div class="container">
<%= simple_form_for [@pokemon, @pokemon.bookings.new] do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.submit 'Catch Pokemon', class: "btn btn-warning" %>
<% end %>
</div>
<br>
<div class="container">
<%= link_to "Go Back", pokemons_path %>
</div>
<div class="container">
<% if policy(@pokemon).create? %>
  <%= link_to 'New Pokemon', new_pokemon_path %>
<% end %>
</div>
